<template>
	<div>
	    <div class="hello">
	    	Conteudo da tela do segundo link!
	    </div>
	    <router-link tag="a" to="/">Link para o primeiro</router-link>
    </div>
</template>

<script>
module.exports = {
    data: function() {
        return {
            who: 'world'
        }
    }
}
</script>
<style lang="scss">
	$font-stack:    Helvetica, sans-serif;
	$primary-color: #333;

	body {
	  font: 100% $font-stack;
	  color: $primary-color;
	}

	.hello {
	    background-color: #ffe;
	}
</style>